@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Quattrocento&family=Ruda&display=swap');

body {
    margin: 0;
    max-width: 100%;
    font-family: inter;
}

#navbar {
    height: 5vw;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fff;
}

#navLeft,
#navRight {
    padding: 2vw;
}

#navRight {
    display: flex;
    gap: 1vw;
}

#content {
    display: flex;
    justify-content: center;

}

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#content {
    display: flex;
    width: 95%;
    justify-content: space-between;
    gap: 1vw;
}

#checkoutBox {
    height: auto;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.25;
    max-width: 100%;
}

#cartItems {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    flex: 0.68;
    justify-content: space-between;
    gap: 1rem;
}

#cartItems .item {
    border: 1px solid black;
    width: 31%;
}

#cartItems .item img {
    max-width: 100%;
    height: 200px;
}

#cartItems .item .info {
    padding: 1rem;
}

#cartItems .item button {
    width: 100%;
    border-radius: none;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    background-color: black;
    cursor: pointer;
}

